@{
    var Courses = (List<Course>)ViewBag.Courses;
}

<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">Popular Courses</h1>
        </div>
        <div class="row g-4 justify-content-center">
            
            @{
                int imgCount = 1;
            
            for (int i = 0; i < 3; i++)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden rounded-3">
                                <img class="img-fluid" src="img/@(imgCount).jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a asp-controller="Course" asp-action="CourseData" asp-route-id="@Courses[i].Id" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 12px;">View Details</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <div class="mb-3 text-primary">
                                <small>free $</small>
                            </div>
                            <h5 class="mb-4">@Courses[i].Title</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@Courses[i].Enrollments.Count Enrollments</small>
                        </div>
                    </div>
                    </div>

                    imgCount++;
                }
            }

            <div class="text-end">
                <a asp-controller="Course" asp-action="Index"> Show All <i class="fa fa-sign-out-alt me-2"></i></a>
            </div>
 
        </div>
    </div>
</div>
<!-- Courses End -->
