
@{
    var Tracks = (List<Track>)ViewBag.Tracks;
}

<!-- Track Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Tracks</h6>
            <h1 class="mb-5">Popular Tracks</h1>
        </div>
        <div class="row g-4">


            @for (int i = 0; i <= 3; i++)
            {
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">@Tracks[i].Name</h5>
                            <p>@Tracks[i].Description</p>
                        </div>
                    </div>
                </div>
            }

            <div class="text-end">
                <a asp-controller="Track" asp-action="Index"> Show All <i class="fa fa-sign-out-alt me-2"></i>
                    </a>
            </div>
        </div>
    </div>
</div>
<!-- Track End -->