@model OnlineLearningPlatform.DAL.Entities.Content

@{
    ViewData["Title"] = "Delete";
    Layout = "_DashLayout";
    var coursetitle = (string)ViewBag.coursename;
}
<div style="padding:15px;">
<h1 style="color:var(--primary)">Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Content</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoUrl)
        </dd>
        <dt class="col-sm-2">
            CourseTitle
        </dt>
        <dd class="col-sm-10">
            @coursetitle
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Dashboard" asp-action="Contents">Back to List</a>
    </form>
</div>
</div>