@model List<Content>
@{
    ViewBag.Title = "Course Contents";
    Layout = "_ContentLayout";
    var courseId = ViewBag.CourseId;
}

<!-- Sidebar -->
<nav class="sidebar shadow-lg p-3 mb-5 bg-white rounded">
    <h4 class="mb-4 border-bottom border-2 pb-2">Table of Contents</h4>
    <ul class="nav flex-column g-3">
        @foreach (var content in Model)
        {
            <li class="nav-item mb-3">
                <a href="javascript:void(0);" class="btn btn-secondary my-nav-link rounded-3"
                   onclick="loadContent(@content.Id)">
                    @content.Title
                </a>
            </li>
        }
    </ul>
</nav>

<!-- Content Section -->
<div id="contentSection" class="container-fluid">
    <!-- Initially display the first content or nothing -->
    @Html.Partial("_ContentDetailsPartial", (List<ContentText>)ViewBag.ContentTexts)
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function loadContent(contentId) {
        $.ajax({
            url: '@Url.Action("LoadContent", "Content")',
            type: 'GET',
            data: { contentId: contentId },
            success: function (result) {
                $('#contentSection').html(result);
            },
            error: function () {
                alert("Error loading content.");
            }
        });
    }
</script>





<style>

    .sidebar {
        min-height: 100vh;
        background-color: #f8f9fa;
        padding: 20px;
        padding-top: 30px;
        position: absolute;
        top: 75px;
        left: 0;
        width: 250px;
        z-index:1;
    }

    .content {
        margin-left: 270px;
        padding: 20px;
        margin-top: 56px;
        z-index:-100;
    }

        .content h2 {
            border-bottom: 2px solid #dee2e6;
            padding-bottom: 10px;
        }

        .content p {
            margin-top: 20px;
        }

        .my-nav-link:hover{
        background: #06bbcc;
        color:white;
        }

</style>